body {
	background-color: rgb(90, 93, 93);
	line-height: 25px;
	max-width: 800px;
	margin: 0px auto;
}
.list-item {
	margin-bottom: 25px;
}
h3 {
	color: rgb(0, 0, 0);
	margin: 0px;
}
.navbar {
	display: flex;
	justify-content: center;
	gap: 50px;
	padding: 20px 50px;
	background-color: rgb(0, 0, 0);
	margin: 20px;
	border-radius: 50px;
}
.page-section {
	background-color: white;
	padding: 35px;
	border-radius: 30px;
}
.page-section h2 {
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}
.navbar a {
	text-decoration: none;
	color: white; /* default white text */
	text-decoration: none; /* remove underline */
	font-weight: 500;
	padding: 0.5rem 1rem;
	transition: color 0.2s;
}

.navbar a:hover {
	color: #4a9ede; /* optional: green on hover */
}
