/* Styles for the App component */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
} .thermo-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px white solid;
    padding: 30px;
    border-radius: 30px;
    background-color: lightblue;
} button {
    margin: 20px;
    width: 150px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}