/* Main stylesheet for the Countdown Timer application. */

body {
	color: black;
	display: flex;
	justify-content: center;
}
.timer-app {
	width: 350px;
	margin: 0px auto;
	padding: 30px;
	background-color: lightblue;
	border-radius: 20px;
	text-align: center;
}
.TimerDisplay h1 {
	font-size: 72px;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
}
.TimeSetter {
	padding: 20px;
	background-color: white;
	border-radius: 10px;
}
.TimeSetter h2 {
	margin: 0px 0px 10px 0px;
}
.TimeSetter-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.TimeSetter-label {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.TimeSetter-label h3 {
	margin: 0;
	font-size: 16px;
	font-weight: normal;
}
.TimeSetter input {
	width: 75px;
	padding: 10px;
	border-radius: 10px;
	border: none;
	text-align: center;
	font-size: 18px;
}
.ControlButtons {
	display: flex;
	justify-content: center;
	gap: 40px;
}
.ControlButtons button {
	border: none;
	border-radius: 6px;
	padding: 12px 24px;
	font-size: 16px;
	color: white;
	cursor: pointer;
}
.ControlButtons .start {
	background-color: rgb(0, 0, 0);
}
.ControlButtons .stop {
	background-color: rgb(0, 0, 0);
}
.ControlButtons .reset {
	background-color: rgb(0, 0, 0);
}
.TimeSetter input:disabled {
	color: darkred;
}
