body {
    background-color: #f0f2f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} .form-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    width: 35%;
    box-sizing: border-box;
} h1 {
    text-align: center;
   margin-bottom: 40px; 
} .field {
    margin-bottom: 25px;
} label {
    display: block;
    color: #333333;
    margin-bottom: 8px;
} span {
    color: #ff3b30;
} input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-sizing: border-box;
} input:focus, select:focus{
    outline: none;
    border-color: #007aff;
    box-shadow: 0 0 0 3px rgba(0, 122, 255, 0.2);
} .error {
    color: #ff3b30;
    margin: 5px 3px;
    display: none;
} .field.isError input, .field.isError select {
    border-color: #ff3b30;
} .field.isError input:focus, .field.isError select:focus {
    box-shadow: 0 0 0 3px rgba(255, 59, 48, 0.2);
} .field.isError .error {
    display: block;
} button {
    width: 100%;
    padding: 15px;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.15s, transform 0.15s;
} button:hover {
    background-color: #006ae6;
} button:active {
    transform: scale(0.95);
}
